################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/IntegradorFinalHotel/FileContentIndex/d811b9d6-bac5-4a69-a40c-71334783c802.vsidx
/.vs/ProyectoFinal/FileContentIndex/7e6c5cd8-0b99-440a-9862-ada454e2315f.vsidx
/.vs/ProyectoFinal/FileContentIndex/0716e450-6b71-4cba-abff-e40d35517527.vsidx
